{
    "semi": true,
    "singleQuote": true,
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 80,
    "jsxSingleQuote": false,
    "jsxBracketSameLine": false,
    "arrowParens": "always",
    "endOfLine": "auto",
    "insertSpaceBeforeFunctionParenthesis": true
}
